name: CI

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the repository
        uses: actions/checkout@v3

      - name: Building the app
        run: echo "The application is build" > artifact.txt
        
      - name: upload the artifact
        uses: actions/upload-artifact@v3.1.3
        with:
          name: myArtifact
          path: ${{ github.workspace }}
